auth:
  enabled: true
  rootUser: root
  rootPassword: {{ env "MONGODB_ROOT_PASSWORD" | default "MONGODB_ROOT_PASSWORD" | quote }}
  usernames:
  - {{ env "MONGODB_USERNAME" | default "MONGO" }}
  passwords:
  - {{ env "MONGODB_PASSWORD" | default "MONGODB_PASSWORD" | quote }}
  databases: 
  - db