apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "graph.fullname" . }}
  labels:
    {{- include "graph.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "graph.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/secrets.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "graph.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        - name: {{ include "graph.fullname" . }}-registrykey
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "graph.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: SERVER_PORT
            value: "8000"
          - name: LOG_LEVEL
            value: InfoLevel
          - name: HEALTH_PORT
            value: "9000"
          - name: CPU_REQUEST
            valueFrom:
              resourceFieldRef:
                containerName: {{ .Chart.Name }}
                resource: requests.cpu
          - name: CPU_LIMIT
            valueFrom:
              resourceFieldRef:
                containerName: {{ .Chart.Name }}
                resource: limits.cpu
          - name: MEM_REQUEST
            valueFrom:
              resourceFieldRef:
                containerName: {{ .Chart.Name }}
                resource: requests.memory
          - name: MEM_LIMIT
            valueFrom:
              resourceFieldRef:
                containerName: {{ .Chart.Name }}
                resource: limits.memory
          - name: MONGO_CONNECTOR
            valueFrom:
              secretKeyRef:
                name: {{ include "graph.fullname" . }}-mongo
                key: connector
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
            - name: health
              containerPort: 9000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /live
              port: health
          readinessProbe:
            httpGet:
              path: /ready
              port: health
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
